# Specify the programmer (ST-Link)
source [find interface/stlink.cfg]

# Specify the transport protocol
transport select hla_swd

# Set a lower speed to prevent timeouts (2000 kHz instead of 8000/4000)
adapter speed 2000

# Specify the target chip
source [find target/stm32f4x.cfg]

# Force "Connect Under Reset" to solve the "Target Not Halted" error
reset_config srst_only srst_nogate connect_assert_srst